@model WebUI.Models.Vacation

@{
    ViewData["Title"] = "Подтверждение удаления отпуска";
}

<h1>Подтверждение удаления отпуска</h1>

<div>
    <h4>Отпуск</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card.CardId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VacationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к карточке</a>
    </form>
</div>
